
:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

p{
    font-family: "Open Sans", sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);
}

nav{
    padding: 3em 0;
    padding-inline: 6em;

}
nav img{
    width: 200px;
}

.container{
    margin-top: 1em;
    padding-inline: 6em;
    display: flex;
    column-gap: 4em;
}
.image {
    max-width: 60%;
}
section img{
    max-width: 100%;
    object-position: center;
}

.content{
    max-width: 40%;
    margin-top: 2em;
}

.content h1{
    font-size: 2.3em;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content p{
    color: white;
    font-size: 1.01em;
    margin-bottom: 1.5rem;
    line-height: 1.7em;
}

.content button{
    padding: 0.7rem 3rem;
    font-size: 1.02em;
    border-radius: 100px;
    border: none;
    box-shadow: 4px 4px 10px hsla(0, 0%, 0%, 0.137);
    cursor: pointer;
    color: var(--Violet);
    transform: translatey(0);
    transition: background 300ms, transform 300ms ease-in-out, color 300ms;
}

.content button:hover{
    transform: translatey(-2px);
    background-color: var(--Soft-Magenta);
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
    padding-inline: 6em;
    align-items: center;
    color: white;
}


.attribution { font-size: 12px; text-align: center; }
.attribution a { color: var(--Soft-Magenta) }

.social a{
    text-decoration: none;

    font-size: 30px;
}

i{
    color: white;
    margin-right: 0,9rem;
    margin-right: 10px;
    transform: translatey(0);
    transition: transform 300ms ease-in-out, color 300ms;
}

i:hover{
    color: var(--Soft-Magenta);
    transform: translatey(-2px);

}

@media screen and (max-width: 800px){
    body{
        background-image: url(/images/bg-mobile.svg);
        background-size: contain;

    }
    .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.7em;
        padding-inline: 2em;
    }

    .image{
        max-width: 100%;
    }

    .content{
        max-width: 100%;
    }

    .content p{
        font-size: 15px;
    }

    button{
        width: 80%;
        margin-bottom: 4rem;
    }

    nav{
        padding: 1em;
        max-height: 25%;
    }

    footer{
        flex-direction: column-reverse;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}